.all-content {
    width: 1000px;
    border: 1px solid purple;
    padding: 10px;
    margin: auto;
}

header {
    padding-top: 10px;
    padding-left: 80px;
}

h1,
h2 {
    font-size: 20px;
}

article {
    padding-left: 40px;
}

footer {
    padding-left: 40px;
}
